pydemo/build/firmware_server/Analysis-00.toc
pydemo/build/firmware_server/base_library.zip
pydemo/build/firmware_server/EXE-00.toc
pydemo/build/firmware_server/firmware_server.pkg
pydemo/build/firmware_server/PKG-00.toc
pydemo/build/firmware_server/PYZ-00.pyz
pydemo/build/firmware_server/PYZ-00.toc
pydemo/build/firmware_server/warn-firmware_server.txt
pydemo/build/firmware_server/xref-firmware_server.html
pydemo/build/firmware_server/localpycs/pyimod01_archive.pyc
pydemo/build/firmware_server/localpycs/pyimod02_importers.pyc
pydemo/build/firmware_server/localpycs/pyimod03_ctypes.pyc
pydemo/build/firmware_server/localpycs/pyimod04_pywin32.pyc
pydemo/build/firmware_server/localpycs/struct.pyc
